body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.container {
    width: 700px;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
}

.employee {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.employee h2 {
    margin-top: 0;
}
